<div class="ApiCard">
<TelerikTileLayout Columns="1"
                    
                   RowHeight="600px"
                   ColumnWidth="20rem"
                   Resizable="true"
                   Reorderable="true">
    <TileLayoutItems>
        <TileLayoutItem HeaderText="API">
            <Content>API DATA </Content>
        </TileLayoutItem>
     
    </TileLayoutItems>
</TelerikTileLayout>
</div>