<div class="buttons"> 


<TelerikTileLayout Columns="2"
                    
                   RowHeight="1fr"
                 
                   Resizable="true"
                   Reorderable="true">
 <TileLayoutItems>
 
        <TileLayoutItem>
            <Content><TelerikButton   Class="Button">BUTTON1</TelerikButton></Content>
        </TileLayoutItem>
        <TileLayoutItem >
            <Content><TelerikButton   Class="Button">BUTTON2</TelerikButton></Content>
        </TileLayoutItem>
        <TileLayoutItem >
            <Content><TelerikButton   Class="Button">BUTTON3</TelerikButton></Content>
        </TileLayoutItem>
         <TileLayoutItem >
            <Content><TelerikButton   Class="Button">BUTTON4</TelerikButton></Content>
        </TileLayoutItem>


    </TileLayoutItems>
  
</TelerikTileLayout>
</div>
<style>
    .Button {
        width:  22rem;
        background-color: transparent ; 
        border-color : green ; 
       
    }
</style>
@code { 
   
}