
<div>

<TelerikTileLayout Columns="8"
                    Class="task-list1"
                   RowHeight="100px"
                   Resizable="true"
                   Reorderable="true">
    <TileLayoutItems>
        <TileLayoutItem HeaderText="Tile 1">
            <Content>Regular-sized first tile.</Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Tile 2">
            <Content>You can put components in the tiles too.</Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Tile 3" RowSpan="1">
            <Content>This tile is three rows tall.</Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Tile 4" RowSpan="1" ColSpan="1">
            <Content>This tile is two rows tall and two columns wide</Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Tile 1">
            <Content>Regular-sized first tile.</Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Tile 2">
            <Content>You can put components in the tiles too.</Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Tile 3" RowSpan="1">
            <Content>This tile is three rows tall.</Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Tile 4" RowSpan="1" ColSpan="1">
            <Content>This tile is two rows tall and two columns wide</Content>
        </TileLayoutItem>
    </TileLayoutItems>
</TelerikTileLayout>
</div>

        <style>
           
            .task-list1
            {
                max-width : 1500px  ; 
                /*min-width : 400px  ; */
                width: 100% ; 
                overflow-x : auto ; 
                display: flex ; 
            }
            .task-list1::-webkit-scrollbar {
                display: none; 
                width: 0;  /* Remove scrollbar space */
                background: transparent;  /* Optional: just make scrollbar invisible */
}
            .task-list > div {
                aspect-ratio : 1 ; 
                min-width : 160px ; 
            }
        </style>